.main_content__my_post{
    margin: 20px;
}
.my_post__title{
    font-size: 30px;
    color: rgb(33, 48, 43);
}
.my_post__form{
    display: flex;
    justify-content: start;
    flex-direction: column;
}
.form__textarea_my_post{
    width: 300px;
    height: 100px;
    resize: none;
}
.form__button_my_post{
    width: 200px;
    height: 25px;
}