.content{
    padding: 15px;
    margin: 15px;
    border-radius: 30px;
    border: 2px solid rgb(48, 180, 184);
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 180px;
}

.image_profile img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.button_profile{
    
    height: 30px;
    border: 3px solid rgb(48, 180, 184);
    border-radius: 30px;
    width: 150px;
    margin-bottom: 10px;
    cursor: pointer;
  
    transition: background 0.2s linear;
}
.button_profile:hover{
    background-color: rgb(92, 182, 202);
}
.naming{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.name_profile{
    font-size: 25px;
}
.status_profile{
    font-size: 15px;
}
.selectedPage {
    font-weight: bold;
}


.pages {
    margin: 20px 0;
    display: flex;
    justify-content: center;
  }
.page{
    border: 1px solid lightgray;
    border-radius: 100%;
    padding: 5px 10px;
    margin:0 10px;
    cursor: pointer;
  }
  /* .pages */
   .current_page {
    border: 2px solid gray;
    font-weight: bold;
    background-color: rgb(92, 182, 202);
    margin:0 10px;
    padding: 5px 10px;
    border-radius: 100%;
  }